body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    width: 100vw;
    background: #252f3f;
    color: white;
}

main {
    padding: 8rem;
}

h1 {
    font-size: 5rem;
}

h3 {
    font-size: 3rem;
    display: inline;
}

.skill-wrapper {
    border: solid 4px #333;
    display: inline-block;
    position: relative;
}

.skill {
    font-size: 3rem;
}

.skill-top {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}